<link rel="icon" href="/favicon.ico?v=avatar-20260812-2" sizes="any" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=avatar-20260812-2" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=avatar-20260812-2" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=avatar-20260812-2" />
{{- $translations := .AllTranslations -}}
{{- if gt (len $translations) 1 -}}
  {{- range $translations }}
    <link rel="alternate" hreflang="{{ .Language.LanguageCode }}" href="{{ .Permalink }}" />
  {{- end }}
  {{- with index (where $translations "Language.Lang" "en") 0 }}
    <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
  {{- end }}
{{- end }}
{{- $author := .Site.Language.Params.Author -}}
{{- $settings := index .Site.Data.site_settings .Site.Language.Lang | default dict -}}
{{- $sameAs := slice -}}
{{- with $author.links -}}
  {{- range $links := . -}}
    {{- range $name, $url := $links -}}
      {{- if and (not (hasPrefix $url "mailto:")) (not (in $url "username")) -}}
        {{- $sameAs = $sameAs | append $url -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $person := dict "@type" "Person" "@id" (printf "%s#person" .Site.Home.Permalink) "name" ($author.name | default .Site.Title) "url" .Site.Home.Permalink "sameAs" $sameAs -}}
{{- with $author.image -}}
  {{- with resources.Get . -}}
    {{- $person = merge $person (dict "image" .Permalink) -}}
  {{- end -}}
{{- end -}}
{{- with $settings.headline | default $author.headline | default $settings.bio | default $author.bio -}}
  {{- $person = merge $person (dict "description" (. | plainify)) -}}
{{- end -}}
{{- $graph := slice $person -}}
{{- $webPage := dict "@type" "WebPage" "@id" (printf "%s#webpage" .Permalink) "url" .Permalink "name" (.Title | default .Site.Title) "inLanguage" .Site.Language.LanguageCode "isPartOf" (dict "@id" (printf "%s#website" .Site.Home.Permalink)) "about" (dict "@id" (printf "%s#person" .Site.Home.Permalink)) -}}
{{- with .Description -}}
  {{- $webPage = merge $webPage (dict "description" (. | plainify)) -}}
{{- end -}}
{{- $graph = $graph | append $webPage -}}
{{- if .IsHome -}}
  {{- $website := dict "@type" "WebSite" "@id" (printf "%s#website" .Site.Home.Permalink) "url" .Site.Home.Permalink "name" .Site.Title "inLanguage" .Site.Language.LanguageCode "publisher" (dict "@id" (printf "%s#person" .Site.Home.Permalink)) -}}
  {{- with .Description -}}
    {{- $website = merge $website (dict "description" (. | plainify)) -}}
  {{- end -}}
  {{- $graph = $graph | append $website -}}
{{- end -}}
{{- if and .IsPage (in .Site.Params.mainSections .Section) -}}
  {{- $schemaType := cond (eq .Section "microposts") "SocialMediaPosting" "BlogPosting" -}}
  {{- if eq .Section "media" -}}{{- $schemaType = "Article" -}}{{- end -}}
  {{- if eq .Section "books" -}}{{- $schemaType = "Review" -}}{{- end -}}
  {{- $article := dict "@type" $schemaType "@id" (printf "%s#article" .Permalink) "mainEntityOfPage" (dict "@id" (printf "%s#webpage" .Permalink)) "url" .Permalink "headline" (.Title | default .Date) "inLanguage" (.Params.lang | default .Site.Language.LanguageCode) "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00") "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00") "author" (dict "@id" (printf "%s#person" .Site.Home.Permalink)) "publisher" (dict "@id" (printf "%s#person" .Site.Home.Permalink)) -}}
  {{- with .Description -}}
    {{- $article = merge $article (dict "description" (. | plainify)) -}}
  {{- end -}}
  {{- with .Params.tags -}}
    {{- $article = merge $article (dict "keywords" (delimit . ", ")) -}}
  {{- end -}}
  {{- with .Params.image | default .Params.cover | default .Params.external_image -}}
    {{- $article = merge $article (dict "image" (. | absURL)) -}}
  {{- end -}}
  {{- $graph = $graph | append $article -}}
{{- end -}}
<script type="application/ld+json">{{ dict "@context" "https://schema.org" "@graph" $graph | jsonify | safeJS }}</script>
<link rel="webmention" href="https://webmention.io/douglasferreira.me/webmention" />
<link rel="pingback" href="https://webmention.io/douglasferreira.me/xmlrpc" />
{{ if and .IsPage (in .Site.Params.mainSections .Section) }}
  {{ $webmentions := resources.Get "js/webmentions.js" | resources.Minify | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha256") }}
  <script defer src="{{ $webmentions.Permalink }}" integrity="{{ $webmentions.Data.Integrity }}"></script>
{{ end }}
