{{ define "main" }}
  <header>
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
  </header>
  <section class="prose mt-0 max-w-prose dark:prose-invert">
    {{ .Content | emojify }}
  </section>

  {{ $allBooks := where .Site.RegularPages "Section" "books" }}
  {{ $reading := where $allBooks "Params.status" "reading" }}
  {{ $finished := where $allBooks "Params.status" "finished" }}
  {{ $other := where (where $allBooks "Params.status" "not in" (slice "reading" "finished")) "Params.status" "!=" nil }}

  {{ partial "books/grid.html" (dict "title" (cond (eq .Site.Language.Lang "pt-br") "Lendo agora" "Reading now") "books" $reading "current" true "lang" .Site.Language.Lang) }}
  {{ partial "books/grid.html" (dict "title" (cond (eq .Site.Language.Lang "pt-br") "Lidos" "Read") "books" $finished "current" false "lang" .Site.Language.Lang) }}
  {{ partial "books/grid.html" (dict "title" (cond (eq .Site.Language.Lang "pt-br") "Outros" "Other") "books" $other "current" false "lang" .Site.Language.Lang) }}
{{ end }}
